<div class="flex justify-center w-full mt-10">
    <div class="bg-white p-8 rounded shadow-md w-full sm:w-96">
        <h2 class="text-2xl font-bold mb-4">Register</h2>
        
        <form [formGroup]="registerForm">
          <!-- Name Field -->
          <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label for="name">Full Name</mat-label>
                <input type="text" id="name" name="name" formControlName="name" matInput placeholder="Enter your full name" required>    
            </mat-form-field>
          </div>
    
          <!-- Email Field -->
          <div class="mb-4">
            <mat-form-field class="w-full">
                <mat-label for="email">Enter Email</mat-label>
                <input type="email" id="email" name="email" formControlName="email" matInput placeholder="Enter your email" required>    
            </mat-form-field>
          </div>
    
          <!-- Password Field -->
          <div class="mb-6">
            <mat-form-field class="w-full">
                <mat-label for="password">Enter Password</mat-label>
                <input type="password" id="password" name="password" formControlName="password" matInput placeholder="Enter Password" required>    
            </mat-form-field>
          </div>
    
          <!-- Submit Button -->
          <div>
            <button mat-raised-button (click)="register()" [disabled]="registerForm.invalid">
              Register
            </button>
          </div>
        </form>
      </div>
</div>
 