<header class="site-header">
    <div class="top-bar">
        <div class="logo cursor-pointer" routerLink="/">
            <!-- <img src="logo.png" alt="logo"> -->
             <span>MyShopName</span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..."
            [(ngModel)] = "searchTerm" 
            (keyup.enter)="onSearch($event)">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <div class="profile flex gap-2 items-center">
            @if(authService.isAdmin){
                <a routerLink="/admin">{{authService.userName}}</a>
            }
            @else{                
                <a routerLink="/profile">{{authService.userName}}</a>
            }
            @if(authService.isLoggedIn){
                @if(!authService.isAdmin){
                <a routerLink="/wishlists"><mat-icon class="text-red-500">favorite</mat-icon></a>
                <a routerLink="/cart"><mat-icon class="text-white">shopping_cart</mat-icon></a>
                <a routerLink="/orders">Orders</a>
                }
            <a (click)="logout()" class="cursor-pointer ml-2">Logout</a>
            }
            @else{
            <a routerLink="/login" class="cursor-pointer ml-2">Login</a>
            <a routerLink="/register" class="cursor-pointer ml-2">Register</a>
            }
        </div>
    </div>

    @if(authService.isLoggedIn){
    <nav class="category-menu">
        <ul>
            @for (category of categoryList; track $index ){
                <li (click)="searchCategory(category._id!)" class="cursor-pointer">
                    <a>{{ category.name }}</a></li>
            }
        </ul>
    </nav>
}
</header>