<div class="px-20">

    <div class="shadow">
        <owl-carousel-o [options]="customOptions">
            @for (item of bannerImages; track $index) {
            <ng-template carouselSlide>
                <div class="relative flex flex-col items-center" [routerLink]=" 'product/' + item._id">
                <img [src]="item.images[0]" alt="images" />
                <span>{{item.name}}</span>
                </div>
            </ng-template>
            }
        </owl-carousel-o>
    </div>

    <div class="mt-4">
        <h4 class="text-2xl font-bold">Featured Products</h4>
        <div class="flex justify-between gap-2">
            @for (product of featuredProducts; track $index) {
            <!-- <div class="w-3/12 shadow ">

                <div class="border-r-4 w-full">
                    <img [src]="product.images[0]" alt="
            product Image" class="w-full h-52 object-cover">
                    <div class="p-4">
                        <h6 class="mb-2">{{product.name}}</h6>
                        <p style="color: #666; font-size: 14px">{{product.shortDescription}}</p>

                        <div class="flex judtify-between items-center">
                            <span class="text-1.5xl font-bold">{{ product.price}} ₹</span>
                            <button mat-flat-button color="primary">Add to Cart</button>

                        </div>
                    </div>
                </div>
            </div> -->
            <div class="w-3/12 shadow ">
                <app-product-card [product]="product"></app-product-card>
            </div>
            }
        </div>
    </div>

    <div class="mt-4">
        <h4 class="text-2xl font-bold">New Products</h4>
        <div class="flex justify-between gap-2">
            @for (product of newProducts; track $index) {
            <div class="w-3/12 shadow ">
                <app-product-card [product]="product"></app-product-card>
            </div>
            }
        </div>
    </div>
</div>